*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assestWizardSettings.xml
.DS_Store
/build
/captures
.extenalNativeBuild
.cxx
local.properties
.env
debug.keystore